
.header {
  display: flex;
  justify-content: space-between;
  padding: 148px 51px;
  align-items: center;
  width: 1052px;
  height: 105px;
}

.header__menu {
  width: 391.48px;
  height: 22px;
}

.header__links-list {
  display: flex;
  gap: 34px;
  list-style: circle;
}

.header__link {
  text-underline-position: under;
}

.header__link-list-active {
  list-style: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo {
  width: 145px;
  height: 110px;
  margin-left: -140px;
}

.header__logo-image {
  width: 136px;
  height: 107px;
}

.header__contacts {
  font-style: inherit;
  width: 240.52px;
  height: 98px;
  margin-right: -50px;
}

.address__item {
  display: block;
  line-height: 24.3px;
  text-underline-position: under;
  font-family: Raleway;
  letter-spacing: 0.01em;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  padding: 172px 40px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 1100px;
  height: 757px;
  background-position: center;
  margin-bottom: 180px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.36;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.cover__title__first-word {
  margin-top: -10px;
}

.cover__title__second-word {
  align-self: center;
  padding: 12px;
  margin-left: -10px;
}

.cover__title__third-word {
  margin-top: -5px;
  margin-right: -20px;
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  display: flex;
  align-items: center;
  gap: 86px;
  margin-top: 130px;
  margin-left: 29px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px #fff solid;
  padding: 12px 28px;
  color: #fff;
  font-family: "Raleway";
  font-weight: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.lots {
  margin-top: 18px;
  padding: 0 40px;
  margin-bottom: 180px;
}

.lots__heading {
  padding: 0 0 30px 24px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  column-gap: 25px;
  list-style: none;
  justify-content: center;
}

.lost__card-list-item {
  height: 100%;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 52px 40px 45px 40px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 334px;
  height: 563px;
  background-position: center;
  position: relative;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 334px;
  height: 563px;
  background-position: center;
  position: relative;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 334px;
  height: 563px;
  background-position: center;
  position: relative;
}

.card__title {
  position: relative;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-top: 4px;
  display: block;
  margin: 27px 0 0 25px;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  width: fit-content;
}

.about {
  display: grid;
  grid-template-columns: 200px 1fr;
  padding: 0 50px;
  margin-bottom: 180px;
}

.about__logo {
  grid-column: 1;
  display: flex;
  justify-content: center;
  margin-left: 21px;
  margin-top: 3px;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 7px;
  margin-left: 134px;
  justify-self: end;
  padding: 100px 0 104px;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

.about__text {
  width: 693px;
  height: 312px;
  margin-left: 134px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.about__text__p1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.07px;
}

.about__text__p2 {
  width: 700px;
  height: 168px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.02px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 80px;
}
.footer__address {
  font-style: inherit;
}

.footer__social-icon {
  height: 48px;
}

.footer__menu-list {
  margin-left: 50px;
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}
